footer {
    background-color: #F293BE;
    color: white;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
  }
  
  footer a {
    color: white;
  }